<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	profile="aa bb cc"
	>

	<bean class="com.zyc.User" primary="true">
		<property name="username" value="javaboy"/>
		<property name="address" value="www.javaboy.org"/>
	</bean>

	<bean class="com.zyc.User" >
		<meta key="testStr" value="aaaa"/>
	</bean>
</beans>