<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.2.xsd"
	>

	<!-- 加载配置文件 -->
	<context:property-placeholder location="classpath:conn.properties"/>

	<bean class="com.zyc.User" primary="true">
		<property name="username" value="javaboy"/>
		<property name="address" value="www.javaboy.org"/>
	</bean>

	<bean class="com.zyc.User" >
		<meta key="testStr" value="aaaa"/>
	</bean>
</beans>